<ion-header>
    <ion-navbar>
        <ion-item no-lines>
            <ion-title>{{ 'TL_WELCOME' | translate }} {{ user.username | capitalize }}</ion-title>
            <button ion-button icon-only color="danger" (click)="logout()" item-end>
                    <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- user profil -->
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/avatar.jpg" alt="avatar">
            </ion-avatar>
            
            <p>
                {{ 'TL_HOME_PROFILE' | translate }} {{user.profilCompletion}} % 
            </p>
            <span *ngIf="completion !== 100" item-end><button ion-button color="primary" (click)="myAccount()">Compléter</button></span>
        </ion-item>
    </ion-card>
    <!-- end -->

    <!-- user messages and contacts -->
    <ion-row>

        <!-- messages -->
        <ion-col col-sm col-12>
            <ion-card>
                <ion-card-header text-center>
                    {{ 'TL_HOME_MESSAGES' | translate }}
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <p item-start>
                            {{ 'TL_HOME_MESSAGES_COUNT' | translate:param }}
                        </p>
                        <span *ngIf="param.count !== 0" item-end><button ion-button color="primary">Lire</button></span>

                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <!-- end -->

        <!-- contacts -->
        <ion-col col-sm col-12>
            <ion-card>
                <ion-card-header text-center>
                    {{ 'TL_HOME_CONTACTS' | translate }}
                </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let contact of user.contacts">
                        <ion-card >
                            <ion-item>
                                <ion-avatar item-start>
                                        <img src="assets/imgs/{{contact.picture}}.png" alt="avatar">
                                </ion-avatar>
                                <ion-list>
                                    <p>
                                        {{ contact.contactUsername }}
                                    </p>
                                    <p>
                                        {{ 'TL_HOME_LOCATION' | translate }}: {{ contact.location}}
                                    </p>
                                    <p>
                                        {{ 'TL_HOME_MATCH' | translate}}: {{ contact.match }}%
                                    </p>
                                </ion-list>
                            </ion-item>
                        </ion-card>
                    </div>
                    <div text-center>
                        <button ion-button color="primary">Ajouter des contacts</button>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <!-- end -->

    </ion-row>
    
    
</ion-content>
